{% extends "base.html" %}

{% load static %}


{% block pageTitle %}
    {{post.title}}
{% endblock pageTitle %}

{% block css_files %}
<link rel="stylesheet" href="{% static "blog/post-details.css" %}">
{% endblock css_files %}

{% block contents %}

{% if comment_form.errors %}
<div id="alert">
    <h2>Uploading comment failed!</h2>
    <p>Please Check the comment from below and fix errors</p>
    <a href="#comment-form">Fix</a>
</div>
{% endif %}
    <section id="summary">
        <h2>{{post.title}}</h2>
        <div>
            {% for tag in post_tags  %}
                <span class="tag">{{tag.caption}}</span>
            {% endfor %}
        </div>
        <div id="read-later">
            <form action="{% url "read-later" %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="post-id" value="{{post.id}}">
                <button>
                    {% if saved_later %}
                        Remove from "Read Later" List
                    {% else %}
                    Read Later
                    {% endif %}
                </button>
            </form>
        </div>
        <article>
            <img src="{{ post.image_name.url }}" alt="{{ post.title }}">
            <address>By <a href="mailto:{{post.author.email_address}}?subject=More%20info%20about%20your%20pblog"> {{post.author}}</a></address>
            <div>
                Last Updated on <time>{{post.date|date:"D d M Y"}}</time>
            </div>
        </article>
    </section>

    <main>
       {{post.content | linebreaks}}
    </main>
{% comment %} 
    <section id="comments">
        <ul>
            {% for comment in comments %}
                <h2>{{comment.user_name}}</h2>
                <p>{{comment.comments|linebreaks}}</p>
            {% endfor %}
        </ul>
    </section> {% endcomment %}

    <section id="comment-form">
        <h2>Your Comment</h2>
        <form action="{% url "detail-posts" post.slug %}" method="POST">
            {% csrf_token %}
            {% for form_field in comment_form %}
            <div class="form-control {% if form_field.errors %} invalid
            {% endif %}">
                {{form_field.label_tag}}
                {{form_field}}
                {{form_field.errors}}
            </div>
            {% endfor %}
            <button type="submit">Save Comment</button>
        </form>
    </section>
    {% for comment in comments %}
    <li>
        <strong>{{ comment.user_name }}</strong> ({{ comment.date_ct|date:"F j, Y, g:i a" }}): 
        <p>{{ comment.comments }}</p>
    </li>
    {% endfor %}
{% endblock %}